*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    
    border: 4px white solid;
    justify-content: center;
    display: flex;
    width: 500px;
    height: 350px;    
    background-color: #F6F0EA;
    
}

.logi {
    padding-top: 50px;

}

.logi .log{
    text-align: center;
}

.empas{
    padding-top: 25px;
}

.empas input{
    font-size: 20px;
    width: 400px;
    height: 30px;
    background-color: rgb(226, 226, 226);
    border-color: white;


}

.empas ::placeholder{
    color:black;
    text-align: center;
    font-size: 15px;
}

.empas .sumlog{
background-color: #ff527a;
width: 190px;
text-align: center;
margin-left: 27%;
height: 45px;
border: rgb(53, 1, 1) 3px solid;
border-radius: 18px;
margin-top: 20px;
}

.dontlog{
    color: rgb(65, 65, 65);
    margin-top: 10px;
    text-align: center;

}

.dontlog .regi{
    color: rgb(144, 0, 0);
}


.error{
    color:  red;
    border: 2px solid rgb(243, 130, 130);
    background-color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;

}














